NEXT_PUBLIC_SANITY_PROJECT_ID=ppsg7ml5
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_STUDIO_URL=https://personal-gallery.sanity.studio
NEXT_PUBLIC_SITE_URL=http://localhost:3000
SANITY_REVALIDATE_SECRET=replace-me

